<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>K. Recipe C.</title>
<link type="text/css" rel="stylesheet" href="/css/typography.css">
<link type="text/css" rel="stylesheet" href="/css/nav.css">
<link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
<form action="/" method="post">
<nav>
  <h1><a href="/">K. Recipe C.</a></h1>
  <ul>
    <li><a href="/all">All</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
  <input type="submit" value="Save">
</nav>
<header>
  <label for="name">Name:</label>
  <input id="name" name="name" type="text" value="<%= @name %>">
</header>
<article>
  <textarea id="text" name="text"><%= @text %></textarea>
</article>
<footer>
  <label for="tags">Tags (ethnicity, meal, course, etc):</label>
  <textarea id="tags" name="tags"><%= (@tags || []).join(" ") %></textarea>
</footer>
</form>
</body>
</html>
