header, article, footer {
	left: 0;
	position: absolute;
	right: 0;
}

article, footer {
	border-color: #bbb;
	border-style: dotted;
	border-width: 1px 0 0 0;
}

header {
	height: 60px;
	top: 30px;
}

article {
	bottom: 60px;
	top: 88px;
}

footer {
	bottom: 0;
	height: 60px;
}

input[type=text], label, textarea { position: absolute; background: transparent; }

label {
	font-size: 12px;
	left: 4px;
	top: 0;
	z-index: 2;
}

input[type=text], textarea {
	border: 0;
	bottom: 0;
	margin: 5px;
	padding: 1%;
	width: 98%;
}

textarea {
	bottom: 0;
	font-size: 16px;
	overflow: auto;
	top: 0;
}
textarea#text { height: 400px; }

header input[type=text] { font-size: 32px; }
